<mat-toolbar [color]="userRole =='teacher'?'accent':'primary'">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Your Health Our Responsibility</a>  
    </div>
     <div  *ngIf="userIsAuthenticated" fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
       <a  mat-button routerLink="/profile" routerLinkActive="active">
       <span class="nav-caption large"> Profile</span>
       </a>
       <a  mat-button routerLink="/sheets" routerLinkActive="active">
        <span class="nav-caption large"> Sheets </span>
        </a>
     </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
         <mat-divider></mat-divider>
            <li *ngIf="!userIsAuthenticated" >
                 <a  mat-button routerLink="login" routerLinkActive="active">Log in</a>
            </li>
            <li *ngIf="!userIsAuthenticated" >
                 <a  mat-button mat-raised-button color='accent' routerLink="signup" routerLinkActive="active">Register</a>
            </li>
            <li *ngIf="userIsAuthenticated" >
                <a (click)="onLogout()" mat-button  >Logout</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
